WALLET_DIR=wallets
PORT=3000
TON_ENDPOINT=https://toncenter.com/api/v2/jsonRPC
ETH_PROVIDER_URL=https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID
BTC_NETWORK=bitcoin
SOLANA_NETWORK=mainnet-beta
COSMOS_PREFIX=cosmos
POLKADOT_SS58_FORMAT=0
TEZOS_NETWORK=mainnet
ALGORAND_NETWORK=mainnet
STELLAR_NETWORK=public
TINY_SECP256K1_FORCE_FALLBACK=1

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=your_database_name
DB_USER=your_username
DB_PASSWORD=your_password
ENCRYPTION_SALT=thesalt